{
	"parser": "babel-eslint",
	"extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": [2, 4],
    "indent": [2, 4],
  }, 
	"plugins": [
      "react",
      "react-native"
    ]
}